* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    background-image: url(mountain.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-left: 500px;
    margin-top: 150px;
}

.search-bar {
  margin-left: 212px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

input {
    padding: 20px 300px;
    border-radius: 50px;
    border: none;
    font-size: 1.6rem;
}

li.list {
    color: #fff;
    display: inline;
    margin-inline: -70px;    
}

ul img {
    height: 60px;
    width: 60px;
    margin-left: 325px;
    margin-top: 35px;
}

ul img:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    
}